// Importando as variáveis globais
@use './Variaveis.scss' as *;

// Estilizando a página de cadastro
.paginaCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .cadastro {
        padding: 1.25rem;
        background-color: $cor-primaria;
        border-radius: 1.5625rem;
        color: $cor-fonte-clara;

        .tituloCadastro {
            margin-bottom: 1.25rem;
        }

        .inputNome {
            display: flex;
            flex-direction: column;
            line-height: 1.5625rem;

            label {
                font-size: 1.125rem;
            }

            #nome {
                height: 1.875rem;
                font-size: 1rem;
                padding-left: 3px;
                border-radius: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
            }
        }

        .inputEmail {
            display: flex;
            flex-direction: column;
            line-height: 1.5625rem;

            label {
                font-size: 1.125rem;
            }

            #email {
                height: 1.875rem;
                font-size: 1rem;
                padding-left: 3px;
                border-radius: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
            }
        }

        .inputSenha {
            display: flex;
            flex-direction: column;
            line-height: 1.5625rem;

            label {
                font-size: 1.125rem;
            }

            #senha {
                height: 1.875rem;
                font-size: 1rem;
                padding-left: 3px;
                border-radius: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
            }
        }

        .inputConfirmarSenha {
            display: flex;
            flex-direction: column;
            line-height: 1.5625rem;

            label {
                font-size: 1.125rem;
            }

            #confirmarSenha {
                height: 1.875rem;
                font-size: 1rem;
                padding-left: 3px;
                border-radius: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
            }
        }

        .botaoCadastrar {
            display: flex;
            justify-content: center;

            .botao {
                background-color: $cor-botoes;
                color: $cor-fonte-escura;
                border-radius: 15px;
                border: none;
                width: 6.25rem;
                font-size: 1.125rem;
                height: 1.875rem;
                margin: 1.25rem 0;
                cursor: pointer;
            }
        }

        .possuiLogin {
            text-align: center;
        }
    }
}